.form-success {
  font-size: 40px;
  margin-left: 450px;
  margin-top: 150px;
}

.signform {
  margin: 25px;
  top: 250px;
  margin-left: 300px;
  border-radius: 0 10px 10px 0;
  position: relative;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: black;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: black;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: black;
}

.form-input {
  display: block;
  padding-left: 10px;
  border-radius: 2px black;
  height: 30px;
  width: 50%;
}

.form-input::placeholder {
  color: royalblue;
  font-size: 12px;
}

.form-input-btn {
  width: 100px;
  height: 70px;
  margin-right: 105px;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(245, 183, 12) 100%
  );
  border: none;
  color: black;
  font-size: 24px;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(179, 47, 150) 100%
  );
  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 1rem;
  margin-top: 10px;
  color: black;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  margin-right: 260px;
  color: red;
  font-weight: 600;
}

.error {
  color: red;
  margin: 2px;
  line-height: 0ch;
}
.Lack {
  color: black;
  margin: 1px;
  line-height: 0;
}
